@model PrenotazioniViewModel

@if(Model.Prenotazioni.Count > 0 && Model.Prenotazioni != null) {
	<table id="prenotazioniTable" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Cliente</th>
				<th>Camera</th>
				<th>Data inizio</th>
				<th>Data fine</th>
				<th>Stato</th>
				<th>Azioni</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var prenotazione in Model.Prenotazioni)
			{
				<tr>
					<td>@prenotazione.Cliente.Nome @prenotazione.Cliente.Cognome</td>
					<td>@prenotazione.Camera.Numero</td>
					<td>@prenotazione.DataInizio</td>
					<td>@prenotazione.DataFine</td>
					<td>@(prenotazione.Stato ? "Pagato" : "Non pagato")</td>
					<td>
							<button onclick="showUpdateModal('@prenotazione.PrenotazioneId')">Modifica</button>
							<button class="btn btn-sm btn-danger" onclick="showDeleteModal('@prenotazione.PrenotazioneId')">Elimina</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
} else {
	<p class="text-center">Nessuna prenotazione presente</p>
}
